<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First</title>
    <style>
        .content {
            width: 100%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            text-align: center;
            color: white;
        }
    </style>
</head>

<body>
        <div class="content">
            <form action="/page2" method="get">
                <button type="submit">
                    <span></span>
                    <h2>Start Prediction</h2>
                </button>
            </form>
        </div>
    </div>

</body>

</html>